@model SteppingStone.Domain.Entities.Student
@{ 
    bool mainAsLink = (bool)ViewBag.MainAsLink;
}

<li>@Html.ActionLink("Students", "Index")</li>
@if (mainAsLink) {
    <li>@Html.ActionLink(Model.FullName, "Show", new { StudentId = Model.StudentId })</li>
}
else {
    <li class="active">@Model.FullName</li>
}